*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --border-clr: rgba(255, 255, 255, 0.25);
    --bg-clr: rgba(255, 255, 255, 0.15);
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.heading{
    font-size: 4.8rem;
    color: white;
    font-weight: 550;
}

.gameInfo{
    border: 2px solid var(--border-clr) ;
    padding: 0.8rem 2.8rem;
    border-radius: 1.6rem;
    background-color: var(--bg-clr);
    backdrop-filter: blur(7px);
    color: white;
    font-size: 20px;
    transform: translateY(-20px);
}

.gameBox{
    width: 24rem;
    border: 1px solid var(--border-clr);
    background-color: var(--bg-clr);
    aspect-ratio: 1/1;
    border-radius: 1.3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3.2rem;
}


.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    font-size: 50px;
    color: white;
}

.box1,.box2,.box4,.box5{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.box3,.box6{
    border-bottom: 3px solid white;
}

.box7,.box8{
    border-right: 3px solid white;
}


.gameBtn{
    border: 2px solid var(--border-clr) ;
    padding: 0.8rem 2.8rem;
    border-radius: 1.6rem;
    background-color: var(--bg-clr);
    backdrop-filter: blur(7px);
    font-size: 20px;
    color: white;
    opacity: 0;
}

.gameBtn.active{
    opacity: 1;
    cursor: pointer;
}

.win{
    background-color: green;
}



